
::-webkit-scrollbar{
    width: 10px;
    background-color: rgba(178, 178, 178, 0.631);
    
}
::-webkit-scrollbar-thumb{
    background-color: rgba(64, 64, 64, 0.559);
    border-radius: 0px 3px 3px 0px;

}

 ::-webkit-scrollbar-thumb:hover{
  background: -webkit-linear-gradient(transparent,#00000056);
  background: linear-gradient(transparent,#ff150052); 
}
div.khatta>div.khatl{
 
    width: 5px; 
    background-color: rgba(128, 0, 0, 0.426); 
    height: calc(100% + 20px ) ; 
    box-shadow: -10px 4px 12px 0 rgb(0, 0, 0);
    display: inline-block;
    position: absolute;
    left: -4%;
    z-index: -100;
    top: -20px;
    border-radius: 50px 0px 0px 0px;

}

div.khatta>div.khatr{

    width: 5px; 
    background-color: rgba(128, 0, 0, 0.426); 
    height: calc(100% + 20px )  ; 
    box-shadow: 10px 4px 12px 0 rgb(0, 0, 0);
    display: inline-block;
    position: absolute;
    right: -4%;
    z-index: -100;
    top: -20px;
    border-radius: 0px 5px 0px 0px;

}