div.container>section.bdb>a{
transform: scale(1.8);
}
footer>div>section>div>div>ul>li>a{
    transition: 400ms;
}
footer>div>section> div> div>ul>li>a:hover{
    color: rgb(30, 157, 255) !important;
    transition: 400ms;
}
footer > div > section > div.d-flex> div > ul > li > a{
    color: unset;
    line-height: 40px; 
    
}
footer > div > section > div.d-flex> div > ul > li >i{
    transform: scale(.75);
    padding-top: 10px;
     color: rgb(30, 157, 255);

}
footer > div > section > div > div:nth-of-type(2) > ul > li:nth-of-type(5) >a >i{
    scale: 2 ;
}
footer > div > section > div > div:nth-of-type(2) > ul > li:nth-of-type(5) >a {
    width: 70px;
    height: 70px;
    margin: 0px 20px !important;
}
footer > div > section > div > div:nth-of-type(2) > ul > li:nth-of-type(5) >a:nth-of-type(1):hover >i{
   color: #25D366
   ;
}

footer > div > section > div > div:nth-of-type(2) > ul > li:nth-of-type(5) >a:nth-of-type(2):hover >i{
    color: #dd3a7b ;
 }
footer > div > section > div > div:nth-of-type(2) > ul > li:nth-of-type(5) >a:nth-of-type(3):hover >i{
    color: #0088cc ;
 }
