@media (min-width : 992px){
#link-images > div.bg-image:hover > div:nth-of-type(1) {
  right: 0% !important ;
  top: 15% !important;
  transition: 500ms;
}}
#link-images > div.bg-image:hover {
  box-shadow:  0px 4px 12px 0 rgb(0, 0, 0) !important ;
  transition: 500ms;
  transition-delay: 100ms;
  border: 2px solid rgba(0, 0, 0, 0.679) !important;
}
#link-images > div.bg-image {
  transition: 500ms;
}
#link-images > div.bg-image > div {
  transition: 500ms;
}
#link-images:hover {
  box-shadow: unset !important;
  transition: 300ms;
  box-shadow: 0px 4px 16px 2px rgb(0, 0, 0) !important;
}
#link-images {
  transition: 300ms;
}
div.card-body{
  background-color: rgba(173, 149, 149, 0.663);
}