
div.khatta>p> a:hover{
    color: rgb(30, 157, 255) !important;
    transition: 400ms;
}
div.khatta>div>a {
    width: 70px !important;
    height: 70px !important; 
    margin: 0px 15px !important;
}
div.khatta>div>a >i{
    scale: 2 ;
}
div.khatta>div>a:nth-of-type(1) >i:hover {
   color: #25D366
   ;
}

div.khatta>div>a:nth-of-type(2)  >i:hover {
    color: #dd3a7b ;
 }
 div.khatta>div>a:nth-of-type(3)  >i:hover {
    color: #0088cc ;
 }